body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
    border-left: 3px solid #8e44ad;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
h4 {
    letter-spacing: 1px;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
}
a {
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 2px 15px 2px 15px;
    border-radius: 3px;
}
span {
    color: #2980b9;
}
section{
    margin: 30px 0;

}
.container {
    width: 80%;
    margin: auto;
}

.box {
    display: flex;
}

.header .stay-focus-text {
    width: 50%;
}

.header-img {
    width: 50%;
    margin-left: 20px;
    padding-left: 10%;
}
.header-img img {
    width: 75%;
    height: auto;
}

.m-v-g {
    display: flex;
    padding: 0 20px;
}
.m-v-g p {
    text-align: justify;
}
.mission {
    width: 33%;
    margin-right: 15px;
    padding: 0 10px;
    background-color: rgb(223, 249, 251);
    border-radius: 5px;
}
.mission img {
    width: 40%;
    height: auto;
}
.vision {
    width: 33%;
    margin-right: 15px;
    padding: 0 10px;
    background-color: rgb(255, 121, 121, 0.2);
    border-radius: 5px;
}
.vision img {
    width: 40%;
    height: auto;
}
.goal {
    width: 33%;
    padding: 0 10px;
    background-color: rgb(255, 190, 118, 0.2);
    border-radius: 5px;
}
.goal img {
    width: 40%;
    height: auto;
}

.my-develop {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}

.my-develop-img {
    width: 40%;
    margin-top: 30px;
}
.my-develop-img img{
    width: 90%;
    height: auto;
}

.my-develop-text {
    width: 60%;
    margin-top: 30px;
    padding-left: 10px;
    margin-left: 10px;
}

.global-community {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.global-community-text {
    width: 60%;
    margin-top: 30px;
    padding-right: 10px;
    margin-right: 20px;
}
.global-community-img {
    width: 40%;
    margin-top: 30px;
}
.global-community-img img{
    width: 90%;
    height: auto;
}

.next-mission{
    margin: 40px 0;
}
.next-mission .box {
    border: 1px solid #c0392b;
    border-radius: 2px;
    padding: 20px 20px;
    
}
.next-mission .box h3 {
    text-align: center;
    color: #40407a;
    letter-spacing: 0;
}
.next-mission .module {
    box-shadow: 5px 10px #888888;
}
.next-mission .lectures {
    box-shadow: 5px 10px #888888;
}
.next-mission .Assignment {
    box-shadow: 5px 10px #888888;
}

.footer {
    background-color: #34495e;
    padding: 20px 0;
}
.footer h2 {
    margin: 0;
    padding: 0;
}
.footer-m {
    color: #eb4d4b;
}
.footer p {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}